* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  p,
  h3 {
    font: inherit;
  }

  body {
    position: relative;
    font-family: "Red Hat Text", sans-serif;
    font-size: 12px;
    background: #EEEEEE;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 80%;
  }

  @media (min-width: 1150px) {
    body {
      background-size: 3000px 900px;
      background-position: center 75%;
    }
  }

  section {
    background-color: white;
  }

  h3 {
    letter-spacing: -0.15rem;
    font-size: 3rem;
    font-weight: 700;
    color: #a31e60;
    margin-top: 100px;
    font-family: "Red Hat Text";
    font-style: normal;
    /* 6 */
    /* or 81px */
  }


  @media (min-width: 1150px) {
    body {
      background-size: 3000px 900px;
      background-position: center 75%;
    }
  }

  .wrapper {
    /* max-width: 85%; */
    margin-inline: auto;
  }

  .wrapper {
    /* max-width: 85%; */
    margin-inline: auto;
  }

  a p{
    text-decoration: none;
  }

  .coo a {
    text-decoration: none;
  }

  p {
    font-size: 18px;
    color: #868383;
    text-decoration: none;
  }

  .grid {
    display: flex;
  }

  button {
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #ef7f1b;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
  }

  .flex {
    display: flex;
    gap: 2rem;
    margin-left: 200px;
    margin-top: 100px;
  }

  .flex a img {
    height: 20px;
    width: 15px;
  }

  .flex p {
    float: right;
    margin-left: 450px;
  }

  hr {
    width: 900px;
    margin-top: 50px;
    place-items: center;
    color: #868383;
  }

  .logo {
    width: 50%;
    padding-block: 1rem;
  }

  .main-header {
    position: relative;
  }

  .main-info {
    background-color: white;
    padding: 2%;
  }

  @media (min-width: 768px) {
    .help a img {
      margin-left: 5px;
    }
  }

  @media (max-width: 768px) {
    .party p {
      font-size: 12px;
    }
    .foots{
        margin-top: 20pxg;
    }
  }


  .help a img {
    width: 15px;
  }

  .party p {
    float: right;
    text-decoration: none;
  }

  .book{
    width: 9px;
    height: 12px;
    object-fit: contain;
  }

  .container {
    width: 100%;
    padding:5ch;
  }